# Arquivos de log
*.log

# Ambiente virtual
.venv/
.env
# PyCharm / IntelliJ / VSCode
.idea/
.vscode/

# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo
/.github/agents

# Arquivos temporários de sistema
.DS_Store

####
log.txt